ruby:
  current_page.data.title = "Danger JS Plugin - #{ plugin["name"] }"

.clearfix
section.guide
  article  
    h1.vibrant == current_page.data["subtitle"]
    
    .article_body
      == markdown_h(plugin["readme"])

    hr
